.navbar-style{
    background-color: #2a67ad!important;
}
.margin{
    margin-right: 100px!important;
}

.inputR{
    float: right;
    clear: both;
}

.nav-link.active{
    color: #ffffff;
    border-bottom: 2px sold #ffffff;

}

.header{
    background-color: #e6e6e6;
    position: sticky;
    top: 0;
    z-index: 1000;
}
